
#container {font-family: "맑은고딕";}

.joinBox {width:452px; margin:0 auto;}
.joinBox h3 {padding-top: 40px; margin-bottom:30px; text-align: center; font-size:24px;font-weight: normal;}
.joinBox > div {float:left; margin:0 10px;}
.joinBox > div span {display: block; font-size:12px; font-weight: normal; margin-top:5px;}
.joinBox > div a {display: block; width:371px; 
    height:36px; padding: 60px 32px; text-align: center; font-size:17px; font-weight:bold;}

.joinBox .indiv a {background: #8a7eb3; color:#fff;}
.joinBox .company a {background: #fff; color:#fff; width:114px; padding:60px 44px; height:32px; border:2px solid #8a7eb3; color:#444;}
